.venv
__pycache__
.pytest_cache
*.pyc
.git
.gitignore
!data/input/.gitkeep
!data/output/.gitkeep
file_processing.db
backend/data/input/*
backend/data/output/*

!backend/data/input/.gitkeep
!backend/data/output/.gitkeep